<% if false %>
<form action="/users" method="post" accept-charset="UTF-8">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="username">Username:</label>
    <input name="user[username]" type="text"> 
    <label for="password">Password:</label>
    <input name="user[password]" type="password">
    <label for="email">Email:</label>
    <input name="user[email]" type="text">
    <button type="submit">Submit!</button>
</form>

<% end %>

<div>
    <ul>
      <% @users.each do |user| %>
        <li><%= user.username %></li>
        <%= link_to "Edit" , edit_user_path(user) %>
      <% end %>
    </ul>
</div>

<%= form_with model: @user do |form| %>
  <%= form.label(:username, "Username:")%>
  <%= form.text_field(:username)%>
  <%= form.label(:password, "Password:")%>
  <%= form.password_field(:password)%>
  <%= form.label(:email, "Email:")%>
  <%= form.email_field(:email)%>
  <%= form.submit("Submit!")%>
<% end %>

<div>
  <%= @user.errors.messages.any? %>
</div>